.buttons_container {
    margin-top: 16px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
}
.buttons_mainText {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
}
