.regCompsBlock {
    margin-top: 78px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.mediumText {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
}
.logos {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}