.container {
    background-color: #1b1b1b;
    height: 100vh;
    padding: 20px;
    position: relative;
}
.mainText {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-top: 20px;
}
