.text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.wrap_input {
    margin-top: 16px;
}
.input {
    width: -webkit-fill-available;
    background: #282828;
    color: white;
    font-family: "Gantari";
    border-radius: 10px;
    padding-left: 9px;
    border: none;
    height: 35px;
    margin-top: 10px;
}
.input::placeholder {
    font-family: "Gantari";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #ffffff80;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.error_text {
    color: #dc1d0d;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
