.text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.error_text {
    color: #DC1D0D;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.wrap_input {
    margin-top: 16px;
}
.preview {
    margin-top: 10px;
    border: 2px dashed #5eff5e;
    width: 335px;
    height: 300px;
}
.preview_photo {
    width: 100%;
    height: 100%;
}