.container {
    background-color: #1b1b1b;
    height: 100vh;
    padding: 20px;
    position: relative;
}
.mainText {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-top: 20px;
}
.text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.wrap_input {
    margin-top: 16px;
}
.wrap_firstInput {
    margin-top: 12px;
}
.input {
    width: -webkit-fill-available;
    background: #282828;
    color: white;
    font-family: "Gantari";
    border-radius: 10px;
    padding-left: 9px;
    border: none;
    height: 35px;
    margin-top: 10px;
}
.input::placeholder {
    font-family: "Gantari";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #FFFFFF80;
}
.error_text {
    color: #DC1D0D;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.secondary_text {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: white;
}