.tag {
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    width: auto;
    cursor: pointer;
}
.tag_active {
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    width: auto;
    cursor: pointer;
    background-color: #ffffff;
}
.tag_text {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #87ff7b;
}
.tag_text_active {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
}
.checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}