.wrap_input {
    margin-top: 16px;
}
.wrap_firstInput {
    margin-top: 20px;
}
.hiddenInput {
    display: none;
}
.file_selection {
    display: flex;
    justify-content: start;
    align-items: center;
}
.customButton {
    cursor: pointer;
    border: 2px dashed #5eff5e; /* Зеленая пунктирная рамка */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error_text {
    color: #DC1D0D;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.camera_icon {
    width: 24px;
    height: 24px;
}
.file_selection_text{
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-left: 10px;
}