.text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.error_text {
    color: #dc1d0d;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.tags_container {
    margin-top: 16px;
}
.line {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}
.tags {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    max-width: max-content;
}
.tag {
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    width: auto;
    cursor: pointer;
}
.tag_active {
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    width: auto;
    cursor: pointer;
    background-color: #ffffff;
}
.tag_text {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #87ff7b;
}
.tag_text_active {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
}
.checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}