.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
}
.back_btn {
    cursor: pointer;
}