.input {
    width: -webkit-fill-available;
    background: #282828;
    color: white;
    font-family: "Gantari";
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: 500px;
    line-height: 17px;
}
.input::placeholder {
    font-family: "Gantari";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #ffffff80;
}
.error_text {
    color: #dc1d0d;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.sub_wrap_input {
    position: relative;
}
.arrow_grey {
    position: absolute;
    right: 9px;
    top: 24px;
}