.main {
    padding-top: 280px;
}
.mainText {
    max-width: 216px;
    font-size: 32px;
    line-height: 38.4px;
    color: white;
    font-weight: 700;
}
.mainText_subBlock {
    display: block;
}
.subMainText {
    color: #87ff7b;
}